name: Build and publish PyPI artifact

on:
  workflow_dispatch:

jobs:
  build_and_publish_package:
    name: Build and publish the PyPi package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false

      - name: Patch package version
        run: poetry version patch

      - name: Run Dockerfile to build and publish package into PyPI
        run: |
          docker build . -t ignored \
            --build-arg PYPI_USERNAME=${{ secrets.PYPI_USERNAME }} \
            --build-arg PYPI_PASSWORD=${{ secrets.PYPI_PASSWORD }}

      - name: Update repository with up-to-date submodules and version
        run: |
          git config --global user.email "ruslan.ibragimov.252@gmail.com"
          git config --global user.name "ruscooler"
          if [ -n "$(git status --porcelain)" ]
          then
            git add .
            git commit -m "Update submodule branch ref and bump package version"
            git push origin main
          fi
